@media screen and (max-width: 425px) {
    .container {
        max-width: 425px;
        margin: auto;
        padding: 5px;
    }
    .soc-search,
    .logo-nav,
    .slider,
    .intro-items {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
    .service-items,
    .footer-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    blockquote {
        padding: 0px;
    }
    nav.menu {
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        justify-items: center;
    }
    .service {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 768px;
        margin: auto;
        padding: 5px;
    }
    .slider {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
    .service {
        justify-items: center;
    }
    .service-body {
        display: grid;
        justify-items: center;
    }
}

@media screen and (max-width: 375px) {
    .container {
        max-width: 375px;
        margin: auto;
        padding: 5px;
    }
    .slider-image img {
        width: 100%;
        height: auto;
    }
    .slider-image-backround {
        width: 337px;
        height: 189px;
        top: 14px;
        left: 14px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 320px;
        margin: auto;
        padding: 5px;
    }
    .slider-image-backround {
        width: 286px;
        height: 161px;
        top: 12px;
        left: 12px;
    }
}